
@media (min-width:901px) {
    .hidden_for_default {
        display: none !important
    }

    .l-subheader.at_bottom {
        display: none
    }

    .l-header {
        position: relative;
        z-index: 111;
        width: 100%
    }

    .l-subheader {
        margin: 0 auto
    }

    .l-subheader.width_full {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .l-subheader-h {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto;
        height: inherit
    }

    .w-header-show {
        display: none
    }

    .l-header.pos_fixed {
        position: fixed;
        left: 0
    }

    .l-header.pos_fixed:not(.notransition) .l-subheader {
        transition-property: transform, background-color, box-shadow, line-height, height;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(.78, .13, .15, .86)
    }

    .l-header.bg_transparent:not(.sticky) .l-subheader {
        box-shadow: none !important;
        background-image: none;
        background-color: transparent
    }

    .l-header.bg_transparent~.l-main .l-section.width_full.height_auto:first-child {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .l-header.pos_static.bg_transparent {
        position: absolute;
        left: 0
    }

    .l-subheader.width_full .l-subheader-h {
        max-width: none !important
    }

    .headerinpos_above .l-header.pos_fixed {
        overflow: hidden;
        transition: transform 0.3s;
        transform: translate3d(0, -100%, 0)
    }

    .headerinpos_above .l-header.pos_fixed.sticky {
        overflow: visible;
        transform: none
    }

    .headerinpos_above .l-header.pos_fixed~.l-section,
    .headerinpos_above .l-header.pos_fixed~.l-main,
    .headerinpos_above .l-header.pos_fixed~.l-main .l-section:first-child {
        padding-top: 0 !important
    }

    .l-header.shadow_thin .l-subheader.at_middle,
    .l-header.shadow_thin .l-subheader.at_bottom,
    .l-header.shadow_none.sticky .l-subheader.at_middle,
    .l-header.shadow_none.sticky .l-subheader.at_bottom {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08)
    }

    .l-header.shadow_wide .l-subheader.at_middle,
    .l-header.shadow_wide .l-subheader.at_bottom {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.05)
    }

    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-dropdown-list {
        top: auto;
        bottom: -0.4em;
        padding-top: 0.4em;
        padding-bottom: 2.4em
    }

    .l-subheader-cell>.w-cart {
        margin-left: 0;
        margin-right: 0
    }

    .l-subheader.at_top {
        line-height: 36px;
        height: 36px
    }

    .l-header.sticky .l-subheader.at_top {
        line-height: 0px;
        height: 0px;
        overflow: hidden
    }

    .l-subheader.at_middle {
        line-height: 80px;
        height: 80px
    }

    .l-header.sticky .l-subheader.at_middle {
        line-height: 60px;
        height: 60px
    }

    .l-subheader.at_bottom {
        line-height: 36px;
        height: 36px
    }

    .l-header.sticky .l-subheader.at_bottom {
        line-height: 40px;
        height: 40px
    }

    .l-header.pos_fixed~.l-section:first-of-type,
    .sidebar_left .l-header.pos_fixed+.l-main,
    .sidebar_right .l-header.pos_fixed+.l-main,
    .sidebar_none .l-header.pos_fixed+.l-main .l-section:first-of-type,
    .sidebar_none .l-header.pos_fixed+.l-main .l-section-gap:nth-child(2),
    .headerinpos_below .l-header.pos_fixed~.l-main .l-section:nth-of-type(2),
    .l-header.pos_static.bg_transparent~.l-section:first-of-type,
    .sidebar_left .l-header.pos_static.bg_transparent+.l-main,
    .sidebar_right .l-header.pos_static.bg_transparent+.l-main,
    .sidebar_none .l-header.pos_static.bg_transparent+.l-main .l-section:first-of-type {
        padding-top: 116px
    }

    .headerinpos_bottom .l-header.pos_fixed~.l-main .l-section:first-of-type {
        padding-bottom: 116px
    }

    .l-header.bg_transparent~.l-main .l-section.valign_center:first-of-type>.l-section-h {
        top: -58px
    }

    .headerinpos_bottom .l-header.pos_fixed.bg_transparent~.l-main .l-section.valign_center:first-of-type>.l-section-h {
        top: 58px
    }

    .l-header.pos_fixed~.l-main .l-section.height_full:not(:first-of-type) {
        min-height: calc(100vh - 60px)
    }

    .admin-bar .l-header.pos_fixed~.l-main .l-section.height_full:not(:first-of-type) {
        min-height: calc(100vh - 92px)
    }

    .l-header.pos_static.bg_solid~.l-main .l-section.height_full:first-of-type {
        min-height: calc(100vh - 116px)
    }

    .l-header.pos_fixed~.l-main .l-section.sticky {
        top: 60px
    }

    .admin-bar .l-header.pos_fixed~.l-main .l-section.sticky {
        top: 92px
    }

    .l-header.pos_fixed.sticky+.l-section.type_sticky,
    .sidebar_none .l-header.pos_fixed.sticky+.l-main .l-section.type_sticky:first-of-type {
        padding-top: 60px
    }

    .headerinpos_below .l-header.pos_fixed:not(.sticky) {
        position: absolute;
        top: 100%
    }

    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) {
        position: absolute;
        bottom: 0
    }

    .headerinpos_below .l-header.pos_fixed~.l-main .l-section:first-of-type,
    .headerinpos_bottom .l-header.pos_fixed~.l-main .l-section:first-of-type {
        padding-top: 0 !important
    }

    .headerinpos_below .l-header.pos_fixed~.l-main .l-section.height_full:nth-of-type(2) {
        min-height: 100vh
    }

    .admin-bar.headerinpos_below .l-header.pos_fixed~.l-main .l-section.height_full:nth-of-type(2) {
        min-height: calc(100vh - 32px)
    }

    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-cart-dropdown,
    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_desktop .w-nav-list.level_2 {
        bottom: 100%;
        transform-origin: 0 100%
    }

    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_mobile.m_layout_dropdown .w-nav-list.level_1 {
        top: auto;
        bottom: 100%;
        box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1)
    }

    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_desktop .w-nav-list.level_3,
    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_desktop .w-nav-list.level_4 {
        top: auto;
        bottom: 0;
        transform-origin: 0 100%
    }
}

@media (min-width:601px) and (max-width:900px) {
    .hidden_for_tablets {
        display: none !important
    }

    .l-subheader.at_bottom {
        display: none
    }

    .l-header {
        position: relative;
        z-index: 111;
        width: 100%
    }

    .l-subheader {
        margin: 0 auto
    }

    .l-subheader.width_full {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .l-subheader-h {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto;
        height: inherit
    }

    .w-header-show {
        display: none
    }

    .l-header.pos_fixed {
        position: fixed;
        left: 0
    }

    .l-header.pos_fixed:not(.notransition) .l-subheader {
        transition-property: transform, background-color, box-shadow, line-height, height;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(.78, .13, .15, .86)
    }

    .l-header.bg_transparent:not(.sticky) .l-subheader {
        box-shadow: none !important;
        background-image: none;
        background-color: transparent
    }

    .l-header.bg_transparent~.l-main .l-section.width_full.height_auto:first-child {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .l-header.pos_static.bg_transparent {
        position: absolute;
        left: 0
    }

    .l-subheader.width_full .l-subheader-h {
        max-width: none !important
    }

    .headerinpos_above .l-header.pos_fixed {
        overflow: hidden;
        transition: transform 0.3s;
        transform: translate3d(0, -100%, 0)
    }

    .headerinpos_above .l-header.pos_fixed.sticky {
        overflow: visible;
        transform: none
    }

    .headerinpos_above .l-header.pos_fixed~.l-section,
    .headerinpos_above .l-header.pos_fixed~.l-main,
    .headerinpos_above .l-header.pos_fixed~.l-main .l-section:first-child {
        padding-top: 0 !important
    }

    .l-header.shadow_thin .l-subheader.at_middle,
    .l-header.shadow_thin .l-subheader.at_bottom,
    .l-header.shadow_none.sticky .l-subheader.at_middle,
    .l-header.shadow_none.sticky .l-subheader.at_bottom {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08)
    }

    .l-header.shadow_wide .l-subheader.at_middle,
    .l-header.shadow_wide .l-subheader.at_bottom {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.05)
    }

    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-dropdown-list {
        top: auto;
        bottom: -0.4em;
        padding-top: 0.4em;
        padding-bottom: 2.4em
    }

    .l-subheader-cell>.w-cart {
        margin-left: 0;
        margin-right: 0
    }

    .l-subheader.at_top {
        line-height: 36px;
        height: 36px
    }

    .l-header.sticky .l-subheader.at_top {
        line-height: 0px;
        height: 0px;
        overflow: hidden
    }

    .l-subheader.at_middle {
        line-height: 80px;
        height: 80px
    }

    .l-header.sticky .l-subheader.at_middle {
        line-height: 60px;
        height: 60px
    }

    .l-subheader.at_bottom {
        line-height: 50px;
        height: 50px
    }

    .l-header.sticky .l-subheader.at_bottom {
        line-height: 50px;
        height: 50px
    }

    .l-header.pos_fixed~.l-section:first-of-type,
    .sidebar_left .l-header.pos_fixed+.l-main,
    .sidebar_right .l-header.pos_fixed+.l-main,
    .sidebar_none .l-header.pos_fixed+.l-main .l-section:first-of-type,
    .sidebar_none .l-header.pos_fixed+.l-main .l-section-gap:nth-child(2),
    .l-header.pos_static.bg_transparent~.l-section:first-of-type,
    .sidebar_left .l-header.pos_static.bg_transparent+.l-main,
    .sidebar_right .l-header.pos_static.bg_transparent+.l-main,
    .sidebar_none .l-header.pos_static.bg_transparent+.l-main .l-section:first-of-type {
        padding-top: 116px
    }

    .l-header.pos_fixed~.l-main .l-section.sticky {
        top: 60px
    }

    .l-header.pos_fixed.sticky+.l-section.type_sticky,
    .sidebar_none .l-header.pos_fixed.sticky+.l-main .l-section.type_sticky:first-of-type {
        padding-top: 60px
    }
}

@media (max-width:600px) {
    .hidden_for_mobiles {
        display: none !important
    }

    .l-subheader.at_bottom {
        display: none
    }

    .l-header {
        position: relative;
        z-index: 111;
        width: 100%
    }

    .l-subheader {
        margin: 0 auto
    }

    .l-subheader.width_full {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .l-subheader-h {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto;
        height: inherit
    }

    .w-header-show {
        display: none
    }

    .l-header.pos_fixed {
        position: fixed;
        left: 0
    }

    .l-header.pos_fixed:not(.notransition) .l-subheader {
        transition-property: transform, background-color, box-shadow, line-height, height;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(.78, .13, .15, .86)
    }

    .l-header.bg_transparent:not(.sticky) .l-subheader {
        box-shadow: none !important;
        background-image: none;
        background-color: transparent
    }

    .l-header.bg_transparent~.l-main .l-section.width_full.height_auto:first-child {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .l-header.pos_static.bg_transparent {
        position: absolute;
        left: 0
    }

    .l-subheader.width_full .l-subheader-h {
        max-width: none !important
    }

    .headerinpos_above .l-header.pos_fixed {
        overflow: hidden;
        transition: transform 0.3s;
        transform: translate3d(0, -100%, 0)
    }

    .headerinpos_above .l-header.pos_fixed.sticky {
        overflow: visible;
        transform: none
    }

    .headerinpos_above .l-header.pos_fixed~.l-section,
    .headerinpos_above .l-header.pos_fixed~.l-main,
    .headerinpos_above .l-header.pos_fixed~.l-main .l-section:first-child {
        padding-top: 0 !important
    }

    .l-header.shadow_thin .l-subheader.at_middle,
    .l-header.shadow_thin .l-subheader.at_bottom,
    .l-header.shadow_none.sticky .l-subheader.at_middle,
    .l-header.shadow_none.sticky .l-subheader.at_bottom {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08)
    }

    .l-header.shadow_wide .l-subheader.at_middle,
    .l-header.shadow_wide .l-subheader.at_bottom {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.05)
    }

    .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-dropdown-list {
        top: auto;
        bottom: -0.4em;
        padding-top: 0.4em;
        padding-bottom: 2.4em
    }

    .l-subheader-cell>.w-cart {
        margin-left: 0;
        margin-right: 0
    }

    .l-subheader.at_top {
        line-height: 36px;
        height: 36px
    }

    .l-header.sticky .l-subheader.at_top {
        line-height: 0px;
        height: 0px;
        overflow: hidden
    }

    .l-subheader.at_middle {
        line-height: 50px;
        height: 50px
    }

    .l-header.sticky .l-subheader.at_middle {
        line-height: 50px;
        height: 50px
    }

    .l-subheader.at_bottom {
        line-height: 50px;
        height: 50px
    }

    .l-header.sticky .l-subheader.at_bottom {
        line-height: 50px;
        height: 50px
    }

    .l-header.pos_fixed~.l-section:first-of-type,
    .sidebar_left .l-header.pos_fixed+.l-main,
    .sidebar_right .l-header.pos_fixed+.l-main,
    .sidebar_none .l-header.pos_fixed+.l-main .l-section:first-of-type,
    .sidebar_none .l-header.pos_fixed+.l-main .l-section-gap:nth-child(2),
    .l-header.pos_static.bg_transparent~.l-section:first-of-type,
    .sidebar_left .l-header.pos_static.bg_transparent+.l-main,
    .sidebar_right .l-header.pos_static.bg_transparent+.l-main,
    .sidebar_none .l-header.pos_static.bg_transparent+.l-main .l-section:first-of-type {
        padding-top: 86px
    }

    .l-header.pos_fixed~.l-main .l-section.sticky {
        top: 50px
    }

    .l-header.pos_fixed.sticky+.l-section.type_sticky,
    .sidebar_none .l-header.pos_fixed.sticky+.l-main .l-section.type_sticky:first-of-type {
        padding-top: 50px
    }
}

@media (min-width:901px) {
    .ush_image_1 {
        height: 40px
    }

    .l-header.sticky .ush_image_1 {
        height: 26px
    }
}

@media (min-width:601px) and (max-width:900px) {
    .ush_image_1 {
        height: 26px
    }

    .l-header.sticky .ush_image_1 {
        height: 26px
    }
}

@media (max-width:600px) {
    .ush_image_1 {
        height: 20px
    }

    .l-header.sticky .ush_image_1 {
        height: 20px
    }
}

.ush_text_2 {
    font-size: 13px;
    white-space: nowrap
}

@media (min-width:601px) and (max-width:900px) {
    .ush_text_2 {
        font-size: 13px
    }
}

@media (max-width:600px) {
    .ush_text_2 {
        font-size: 13px
    }
}

.ush_text_3 {
    font-size: 13px;
    white-space: nowrap
}

@media (min-width:601px) and (max-width:900px) {
    .ush_text_3 {
        font-size: 13px
    }
}

@media (max-width:600px) {
    .ush_text_3 {
        font-size: 13px
    }
}

.ush_text_4 {
    font-size: 13px;
    white-space: nowrap
}

@media (min-width:601px) and (max-width:900px) {
    .ush_text_4 {
        font-size: 13px
    }
}

@media (max-width:600px) {
    .ush_text_4 {
        font-size: 13px
    }
}

.header_hor .ush_menu_1.type_desktop .w-nav-list.level_1>.menu-item>a {
    padding-left: 15px;
    padding-right: 15px
}

.header_ver .ush_menu_1.type_desktop .w-nav-list.level_1>.menu-item>a {
    padding-top: 15px;
    padding-bottom: 15px
}

.ush_menu_1 {
    font-family: 'Open Sans', sans-serif
}

.ush_menu_1.type_desktop .w-nav-list>.menu-item.level_1 {
    font-size: 14px
}

.ush_menu_1.type_desktop .w-nav-list>.menu-item:not(.level_1) {
    font-size: 14px
}

.ush_menu_1.type_mobile .w-nav-anchor.level_1 {
    font-size: 16px
}

.ush_menu_1.type_mobile .w-nav-anchor:not(.level_1) {
    font-size: 15px
}

@media (min-width:901px) {
    .ush_menu_1 .w-nav-icon {
        font-size: 20px
    }
}

@media (min-width:601px) and (max-width:900px) {
    .ush_menu_1 .w-nav-icon {
        font-size: 20px
    }
}

@media (max-width:600px) {
    .ush_menu_1 .w-nav-icon {
        font-size: 20px
    }
}

@media screen and (max-width:1199px) {
    .w-nav.ush_menu_1>.w-nav-list.level_1 {
        display: none
    }

    .ush_menu_1 .w-nav-control {
        display: block
    }
}

.ush_socials_1 .w-socials-list {
    margin: -0
}

.ush_socials_1 .w-socials-item {
    padding: 0
}

@media (min-width:901px) {
    .ush_socials_1 {
        font-size: 18px
    }
}

@media (min-width:601px) and (max-width:900px) {
    .ush_socials_1 {
        font-size: 18px
    }
}

@media (max-width:600px) {
    .ush_socials_1 {
        font-size: 18px
    }
}

@media (min-width:901px) {
    .ush_dropdown_1 .w-dropdown-h {
        font-size: 13px
    }
}

@media (min-width:601px) and (max-width:900px) {
    .ush_dropdown_1 .w-dropdown-h {
        font-size: 13px
    }
}

@media (max-width:600px) {
    .ush_dropdown_1 .w-dropdown-h {
        font-size: 13px
    }
}

@media (min-width:901px) {
  .hidden_for_default {
    display: none !important
  }

  .l-subheader.at_bottom {
    display: none
  }

  .l-header {
    position: relative;
    z-index: 111;
    width: 100%
  }

  .l-subheader {
    margin: 0 auto
  }

  .l-subheader.width_full {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .l-subheader-h {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    height: inherit
  }

  .w-header-show {
    display: none
  }

  .l-header.pos_fixed {
    position: fixed;
    left: 0
  }

  .l-header.pos_fixed:not(.notransition) .l-subheader {
    transition-property: transform, background-color, box-shadow, line-height, height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.78, .13, .15, .86)
  }

  .l-header.bg_transparent:not(.sticky) .l-subheader {
    box-shadow: none !important;
    background-image: none;
    background-color: transparent
  }

  .l-header.bg_transparent~.l-main .l-section.width_full.height_auto:first-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important
  }

  .l-header.pos_static.bg_transparent {
    position: absolute;
    left: 0
  }

  .l-subheader.width_full .l-subheader-h {
    max-width: none !important
  }

  .headerinpos_above .l-header.pos_fixed {
    overflow: hidden;
    transition: transform 0.3s;
    transform: translate3d(0, -100%, 0)
  }

  .headerinpos_above .l-header.pos_fixed.sticky {
    overflow: visible;
    transform: none
  }

  .headerinpos_above .l-header.pos_fixed~.l-section,
  .headerinpos_above .l-header.pos_fixed~.l-main,
  .headerinpos_above .l-header.pos_fixed~.l-main .l-section:first-child {
    padding-top: 0 !important
  }

  .l-header.shadow_thin .l-subheader.at_middle,
  .l-header.shadow_thin .l-subheader.at_bottom,
  .l-header.shadow_none.sticky .l-subheader.at_middle,
  .l-header.shadow_none.sticky .l-subheader.at_bottom {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08)
  }

  .l-header.shadow_wide .l-subheader.at_middle,
  .l-header.shadow_wide .l-subheader.at_bottom {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.05)
  }

  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-dropdown-list {
    top: auto;
    bottom: -0.4em;
    padding-top: 0.4em;
    padding-bottom: 2.4em
  }

  .l-subheader-cell>.w-cart {
    margin-left: 0;
    margin-right: 0
  }

  .l-subheader.at_top {
    line-height: 36px;
    height: 36px
  }

  .l-header.sticky .l-subheader.at_top {
    line-height: 0px;
    height: 0px;
    overflow: hidden
  }

  .l-subheader.at_middle {
    line-height: 80px;
    height: 80px
  }

  .l-header.sticky .l-subheader.at_middle {
    line-height: 60px;
    height: 60px
  }

  .l-subheader.at_bottom {
    line-height: 36px;
    height: 36px
  }

  .l-header.sticky .l-subheader.at_bottom {
    line-height: 40px;
    height: 40px
  }

  .l-header.pos_fixed~.l-section:first-of-type,
  .sidebar_left .l-header.pos_fixed+.l-main,
  .sidebar_right .l-header.pos_fixed+.l-main,
  .sidebar_none .l-header.pos_fixed+.l-main .l-section:first-of-type,
  .sidebar_none .l-header.pos_fixed+.l-main .l-section-gap:nth-child(2),
  .headerinpos_below .l-header.pos_fixed~.l-main .l-section:nth-of-type(2),
  .l-header.pos_static.bg_transparent~.l-section:first-of-type,
  .sidebar_left .l-header.pos_static.bg_transparent+.l-main,
  .sidebar_right .l-header.pos_static.bg_transparent+.l-main,
  .sidebar_none .l-header.pos_static.bg_transparent+.l-main .l-section:first-of-type {
    padding-top: 116px
  }

  .headerinpos_bottom .l-header.pos_fixed~.l-main .l-section:first-of-type {
    padding-bottom: 116px
  }

  .l-header.bg_transparent~.l-main .l-section.valign_center:first-of-type>.l-section-h {
    top: -58px
  }

  .headerinpos_bottom .l-header.pos_fixed.bg_transparent~.l-main .l-section.valign_center:first-of-type>.l-section-h {
    top: 58px
  }

  .l-header.pos_fixed~.l-main .l-section.height_full:not(:first-of-type) {
    min-height: calc(100vh - 60px)
  }

  .admin-bar .l-header.pos_fixed~.l-main .l-section.height_full:not(:first-of-type) {
    min-height: calc(100vh - 92px)
  }

  .l-header.pos_static.bg_solid~.l-main .l-section.height_full:first-of-type {
    min-height: calc(100vh - 116px)
  }

  .l-header.pos_fixed~.l-main .l-section.sticky {
    top: 60px
  }

  .admin-bar .l-header.pos_fixed~.l-main .l-section.sticky {
    top: 92px
  }

  .l-header.pos_fixed.sticky+.l-section.type_sticky,
  .sidebar_none .l-header.pos_fixed.sticky+.l-main .l-section.type_sticky:first-of-type {
    padding-top: 60px
  }

  .headerinpos_below .l-header.pos_fixed:not(.sticky) {
    position: absolute;
    top: 100%
  }

  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) {
    position: absolute;
    bottom: 0
  }

  .headerinpos_below .l-header.pos_fixed~.l-main .l-section:first-of-type,
  .headerinpos_bottom .l-header.pos_fixed~.l-main .l-section:first-of-type {
    padding-top: 0 !important
  }

  .headerinpos_below .l-header.pos_fixed~.l-main .l-section.height_full:nth-of-type(2) {
    min-height: 100vh
  }

  .admin-bar.headerinpos_below .l-header.pos_fixed~.l-main .l-section.height_full:nth-of-type(2) {
    min-height: calc(100vh - 32px)
  }

  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-cart-dropdown,
  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_desktop .w-nav-list.level_2 {
    bottom: 100%;
    transform-origin: 0 100%
  }

  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_mobile.m_layout_dropdown .w-nav-list.level_1 {
    top: auto;
    bottom: 100%;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1)
  }

  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_desktop .w-nav-list.level_3,
  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-nav.type_desktop .w-nav-list.level_4 {
    top: auto;
    bottom: 0;
    transform-origin: 0 100%
  }
}

@media (min-width:601px) and (max-width:900px) {
  .hidden_for_tablets {
    display: none !important
  }

  .l-subheader.at_bottom {
    display: none
  }

  .l-header {
    position: relative;
    z-index: 111;
    width: 100%
  }

  .l-subheader {
    margin: 0 auto
  }

  .l-subheader.width_full {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .l-subheader-h {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    height: inherit
  }

  .w-header-show {
    display: none
  }

  .l-header.pos_fixed {
    position: fixed;
    left: 0
  }

  .l-header.pos_fixed:not(.notransition) .l-subheader {
    transition-property: transform, background-color, box-shadow, line-height, height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.78, .13, .15, .86)
  }

  .l-header.bg_transparent:not(.sticky) .l-subheader {
    box-shadow: none !important;
    background-image: none;
    background-color: transparent
  }

  .l-header.bg_transparent~.l-main .l-section.width_full.height_auto:first-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important
  }

  .l-header.pos_static.bg_transparent {
    position: absolute;
    left: 0
  }

  .l-subheader.width_full .l-subheader-h {
    max-width: none !important
  }

  .headerinpos_above .l-header.pos_fixed {
    overflow: hidden;
    transition: transform 0.3s;
    transform: translate3d(0, -100%, 0)
  }

  .headerinpos_above .l-header.pos_fixed.sticky {
    overflow: visible;
    transform: none
  }

  .headerinpos_above .l-header.pos_fixed~.l-section,
  .headerinpos_above .l-header.pos_fixed~.l-main,
  .headerinpos_above .l-header.pos_fixed~.l-main .l-section:first-child {
    padding-top: 0 !important
  }

  .l-header.shadow_thin .l-subheader.at_middle,
  .l-header.shadow_thin .l-subheader.at_bottom,
  .l-header.shadow_none.sticky .l-subheader.at_middle,
  .l-header.shadow_none.sticky .l-subheader.at_bottom {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08)
  }

  .l-header.shadow_wide .l-subheader.at_middle,
  .l-header.shadow_wide .l-subheader.at_bottom {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.05)
  }

  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-dropdown-list {
    top: auto;
    bottom: -0.4em;
    padding-top: 0.4em;
    padding-bottom: 2.4em
  }

  .l-subheader-cell>.w-cart {
    margin-left: 0;
    margin-right: 0
  }

  .l-subheader.at_top {
    line-height: 36px;
    height: 36px
  }

  .l-header.sticky .l-subheader.at_top {
    line-height: 0px;
    height: 0px;
    overflow: hidden
  }

  .l-subheader.at_middle {
    line-height: 80px;
    height: 80px
  }

  .l-header.sticky .l-subheader.at_middle {
    line-height: 60px;
    height: 60px
  }

  .l-subheader.at_bottom {
    line-height: 50px;
    height: 50px
  }

  .l-header.sticky .l-subheader.at_bottom {
    line-height: 50px;
    height: 50px
  }

  .l-header.pos_fixed~.l-section:first-of-type,
  .sidebar_left .l-header.pos_fixed+.l-main,
  .sidebar_right .l-header.pos_fixed+.l-main,
  .sidebar_none .l-header.pos_fixed+.l-main .l-section:first-of-type,
  .sidebar_none .l-header.pos_fixed+.l-main .l-section-gap:nth-child(2),
  .l-header.pos_static.bg_transparent~.l-section:first-of-type,
  .sidebar_left .l-header.pos_static.bg_transparent+.l-main,
  .sidebar_right .l-header.pos_static.bg_transparent+.l-main,
  .sidebar_none .l-header.pos_static.bg_transparent+.l-main .l-section:first-of-type {
    padding-top: 116px
  }

  .l-header.pos_fixed~.l-main .l-section.sticky {
    top: 60px
  }

  .l-header.pos_fixed.sticky+.l-section.type_sticky,
  .sidebar_none .l-header.pos_fixed.sticky+.l-main .l-section.type_sticky:first-of-type {
    padding-top: 60px
  }
}

@media (max-width:600px) {
  .hidden_for_mobiles {
    display: none !important
  }

  .l-subheader.at_bottom {
    display: none
  }

  .l-header {
    position: relative;
    z-index: 111;
    width: 100%
  }

  .l-subheader {
    margin: 0 auto
  }

  .l-subheader.width_full {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .l-subheader-h {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    height: inherit
  }

  .w-header-show {
    display: none
  }

  .l-header.pos_fixed {
    position: fixed;
    left: 0
  }

  .l-header.pos_fixed:not(.notransition) .l-subheader {
    transition-property: transform, background-color, box-shadow, line-height, height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.78, .13, .15, .86)
  }

  .l-header.bg_transparent:not(.sticky) .l-subheader {
    box-shadow: none !important;
    background-image: none;
    background-color: transparent
  }

  .l-header.bg_transparent~.l-main .l-section.width_full.height_auto:first-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important
  }

  .l-header.pos_static.bg_transparent {
    position: absolute;
    left: 0
  }

  .l-subheader.width_full .l-subheader-h {
    max-width: none !important
  }

  .headerinpos_above .l-header.pos_fixed {
    overflow: hidden;
    transition: transform 0.3s;
    transform: translate3d(0, -100%, 0)
  }

  .headerinpos_above .l-header.pos_fixed.sticky {
    overflow: visible;
    transform: none
  }

  .headerinpos_above .l-header.pos_fixed~.l-section,
  .headerinpos_above .l-header.pos_fixed~.l-main,
  .headerinpos_above .l-header.pos_fixed~.l-main .l-section:first-child {
    padding-top: 0 !important
  }

  .l-header.shadow_thin .l-subheader.at_middle,
  .l-header.shadow_thin .l-subheader.at_bottom,
  .l-header.shadow_none.sticky .l-subheader.at_middle,
  .l-header.shadow_none.sticky .l-subheader.at_bottom {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08)
  }

  .l-header.shadow_wide .l-subheader.at_middle,
  .l-header.shadow_wide .l-subheader.at_bottom {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.05)
  }

  .headerinpos_bottom .l-header.pos_fixed:not(.sticky) .w-dropdown-list {
    top: auto;
    bottom: -0.4em;
    padding-top: 0.4em;
    padding-bottom: 2.4em
  }

  .l-subheader-cell>.w-cart {
    margin-left: 0;
    margin-right: 0
  }

  .l-subheader.at_top {
    line-height: 36px;
    height: 36px
  }

  .l-header.sticky .l-subheader.at_top {
    line-height: 0px;
    height: 0px;
    overflow: hidden
  }

  .l-subheader.at_middle {
    line-height: 50px;
    height: 50px
  }

  .l-header.sticky .l-subheader.at_middle {
    line-height: 50px;
    height: 50px
  }

  .l-subheader.at_bottom {
    line-height: 50px;
    height: 50px
  }

  .l-header.sticky .l-subheader.at_bottom {
    line-height: 50px;
    height: 50px
  }

  .l-header.pos_fixed~.l-section:first-of-type,
  .sidebar_left .l-header.pos_fixed+.l-main,
  .sidebar_right .l-header.pos_fixed+.l-main,
  .sidebar_none .l-header.pos_fixed+.l-main .l-section:first-of-type,
  .sidebar_none .l-header.pos_fixed+.l-main .l-section-gap:nth-child(2),
  .l-header.pos_static.bg_transparent~.l-section:first-of-type,
  .sidebar_left .l-header.pos_static.bg_transparent+.l-main,
  .sidebar_right .l-header.pos_static.bg_transparent+.l-main,
  .sidebar_none .l-header.pos_static.bg_transparent+.l-main .l-section:first-of-type {
    padding-top: 86px
  }

  .l-header.pos_fixed~.l-main .l-section.sticky {
    top: 50px
  }

  .l-header.pos_fixed.sticky+.l-section.type_sticky,
  .sidebar_none .l-header.pos_fixed.sticky+.l-main .l-section.type_sticky:first-of-type {
    padding-top: 50px
  }
}

@media (min-width:901px) {
  .ush_image_1 {
    height: 40px
  }

  .l-header.sticky .ush_image_1 {
    height: 26px
  }
}

@media (min-width:601px) and (max-width:900px) {
  .ush_image_1 {
    height: 26px
  }

  .l-header.sticky .ush_image_1 {
    height: 26px
  }
}

@media (max-width:600px) {
  .ush_image_1 {
    height: 20px
  }

  .l-header.sticky .ush_image_1 {
    height: 20px
  }
}

.ush_text_2 {
  font-size: 13px;
  white-space: nowrap
}

@media (min-width:601px) and (max-width:900px) {
  .ush_text_2 {
    font-size: 13px
  }
}

@media (max-width:600px) {
  .ush_text_2 {
    font-size: 13px
  }
}

.ush_text_3 {
  font-size: 13px;
  white-space: nowrap
}

@media (min-width:601px) and (max-width:900px) {
  .ush_text_3 {
    font-size: 13px
  }
}

@media (max-width:600px) {
  .ush_text_3 {
    font-size: 13px
  }
}

.ush_text_4 {
  font-size: 13px;
  white-space: nowrap
}

@media (min-width:601px) and (max-width:900px) {
  .ush_text_4 {
    font-size: 13px
  }
}

@media (max-width:600px) {
  .ush_text_4 {
    font-size: 13px
  }
}

.header_hor .ush_menu_1.type_desktop .w-nav-list.level_1>.menu-item>a {
  padding-left: 15px;
  padding-right: 15px
}

.header_ver .ush_menu_1.type_desktop .w-nav-list.level_1>.menu-item>a {
  padding-top: 15px;
  padding-bottom: 15px
}

.ush_menu_1 {
  font-family: 'Open Sans', sans-serif
}

.ush_menu_1.type_desktop .w-nav-list>.menu-item.level_1 {
  font-size: 14px
}

.ush_menu_1.type_desktop .w-nav-list>.menu-item:not(.level_1) {
  font-size: 14px
}

.ush_menu_1.type_mobile .w-nav-anchor.level_1 {
  font-size: 16px
}

.ush_menu_1.type_mobile .w-nav-anchor:not(.level_1) {
  font-size: 15px
}

@media (min-width:901px) {
  .ush_menu_1 .w-nav-icon {
    font-size: 20px
  }
}

@media (min-width:601px) and (max-width:900px) {
  .ush_menu_1 .w-nav-icon {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .ush_menu_1 .w-nav-icon {
    font-size: 20px
  }
}

@media screen and (max-width:1199px) {
  .w-nav.ush_menu_1>.w-nav-list.level_1 {
    display: none
  }

  .ush_menu_1 .w-nav-control {
    display: block
  }
}

.ush_socials_1 .w-socials-list {
  margin: -0
}

.ush_socials_1 .w-socials-item {
  padding: 0
}

@media (min-width:901px) {
  .ush_socials_1 {
    font-size: 18px
  }
}

@media (min-width:601px) and (max-width:900px) {
  .ush_socials_1 {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .ush_socials_1 {
    font-size: 18px
  }
}

@media (min-width:901px) {
  .ush_dropdown_1 .w-dropdown-h {
    font-size: 13px
  }
}

@media (min-width:601px) and (max-width:900px) {
  .ush_dropdown_1 .w-dropdown-h {
    font-size: 13px
  }
}

@media (max-width:600px) {
  .ush_dropdown_1 .w-dropdown-h {
    font-size: 13px
  }
}

